<% page_title = "#{@filter.present? ? @filter.capitalize : "Current" } Bottles" %>

<div class="page-header">
  <h1><%= page_title %></h1>
</div>

<%= render "searchbar" %>

<%= render "bottle_list", bottles: @bottles %>
