<%= page_heading("Bottles", "Add Bottle", new_bottle_path) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Spirit</th>
      <th>Release Year</th>
    </tr>
  </thead>

  <tbody>
    <% @bottles.each do |bottle| %>
      <tr>
        <td><%= link_to bottle.name, bottle_path(bottle) %></td>
        <td><%= bottle.spirit %></td>
        <td><%= bottle.release_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
