@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

body {
  padding-top: 50px;
}

// Bottle List
.bottle-list-item {
  padding: 8px 0;

  &:nth-child(odd) {
    background-color: #eee;
  }

  .bottle-details {
    font-size: 12px;
    line-height: 20px;
    color: $gray-light;
  }
}

.page-header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 1.5rem;
}

// Margin utils
.mr-small {
  margin-right: 0.5rem !important;
}
.mb-medium {
  margin-bottom: 20px !important;
}

.bottle-data {
  margin-bottom: 20px;

  table:first-child {
    margin-bottom: 0;
  }

  td:first-child {
    width: 160px;
  }
}
