@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 5rem;
}

// Bottle List
.bottle-list-item {
  padding: 8px 0;

  &:nth-child(odd) {
    background-color: #eee;
  }

  .bottle-details {
    font-size: 12px;
    line-height: 20px;
    color: $gray-light;
  }
}

.page-header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 1.5rem;
}

// Margin utils
.mr-small {
  margin-right: 0.5rem !important;
}
